/* src/components/LoginComponent.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background: #e2e2e2;
  }
  
  svg {
    position: fixed;
    top: 10px;
    left: 180px;
  }
  
  .container {
    position: relative;
    top: 200px;
    left: 35%;
    display: block;
    margin-bottom: 80px;
    width: 500px;
    height: 360px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    padding: 20px;
  }
  
  h2 {
    padding: 20px 40px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #414141;
  }
  
  
  
  .link {
    text-decoration: none;
    display: inline-block;
    margin: 27px 28%;
    text-transform: uppercase;
    color: #858585;
    font-weight: lighter;
    transition: 0.5s;
  }
  
  button {
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 250px;
    height: 60px;
    margin-top: -10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  
  button .span {
    position: absolute;
    display: block;
    margin: -10px 20%;
    transform: translateX(0);
    transition: 0.5s;
  }
  
  button.register {
    background: #673ab7;
  }
  
  button.signin {
    background: #ff5722;
  }
  
  button:hover span {
    transform: translateX(30px);
  }
  
  .reg,
  .sig {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    z-index: 5;
    transition: 0.8s ease-in-out;
  }
  
  .reg {
    left: 0;
    background: #673ab7;
  }
  
  .sig {
    right: 0;
    background: #ff5722;
  }
  
  .message {
    position: absolute;
    top: -100%;
    left: 20%;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out 1.2s;
    opacity: 0;
  }
  
  .message.show {
    top: 40%;
    z-index: 8;
    opacity: 1;
  }
  